.col-lg-12.urban-header {
    text-align: center;
    bottom: 0px;
    position: absolute;
    font-family: 'Lato', sans-serif;
    background-color: rgba(63, 175, 240, 0.59);
    color: white;
    height: 200px;
}

table.search-bar {
    text-align: left;
    top: 32px;
    margin-top:30px;
    position: relative;
    font-family: 'Lustria', serif;
    font-size: 20px;
    color: #2075BC;
    border: none;
}


h2.urban-subtitle {
    font-size: 18px;
    letter-spacing: 3px;
}

h1.urban-title {
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top:10%;
}

.row.first-row {
    background-image: url("../photos/map2.png");
    background-size: cover;
    height: 75%;
}

.image-grid.first {
    background-image: url("./images/africa-art.jpg");
    background-size: cover;
}

.image-grid.second {
    background-image: url("./images/ebru.jpg");
    background-size: cover;
}

.image-grid.third {
    background-image: url("./images/greek.jpg");
    background-size: cover;
}

body{
	padding-top:0px;
}

select.btn.dropdown.btn-primary {
    border-color: #6CCBCE;
    border-radius: 1px;
    -webkit-appearance: none;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    background-image: none;
    font-family: 'Josefin Sans', sans-serif;
    min-width: 140px;
    width: 90%;
}

.dropdown {
    background: rgba(122, 194, 238, 0.78);
}

.dropdown:hover {
    background: rgba(122, 194, 238, 1);
}
.dropdown:active{
    background: rgba(122, 194, 238, 0.78);
}

.arrow {
    position: absolute;
    right: 14%;
    top: 5px;
    color: white;
}

.drop-container {
    position: relative;
}

.image-grid{
	display:none;
}

.container-fluid {
	    height: 596px;
}
/*#link_text{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 60px;
    padding-top: 20px;
    font-size: 14pt;
   text-decoration: underline;

}*/

#link_text {

    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 36px;
    font-size: 14pt;
    text-decoration: underline;
    
}


td#action{
    padding-left: 20px;
}

td, th {
    width: 137px;
    border: none;
}

#button-search {
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    border-radius: 3px;
    margin-left: 20px;
}

table{
    border: 0px solid white;
}

body {
    height: 1000px;
    background: #FBFBF1;
}


